.textZone {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: flex;    
    min-width: 30%;
    min-height: 200px; 
    border-radius: 10px;
    background-color: rgb(41, 40, 40);    
    box-shadow: 4px 10px 15px #000000;
}

.inp-textZone {
    border-radius: 5px;
    padding-bottom: 30px;
}

.textZone label {  
    color: rgb(60, 127, 236);  
    margin: 10px  0 10px 5%;   
}

.textZone form {
    min-width: 80%;
    margin:auto;
    display: flex;
    flex-flow: column wrap;    
}

.textZone input {
    min-width: 90%;
    border-radius: 5px;
}

@media screen and (max-width: 799px) {
    .textZone {
        bottom: 0;
        right: 0;
        width: 100%;
        min-width: 300px;
        border-radius: 0;
        box-shadow: 0 -9px 20px #000000;
    }
}